@charset "UTF-8";

/*
h1{
    @include adaptiv-font(40,24)
}
*/

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.title {
  color: red;
  font-size: 50px;
  text-align: center;
}

.no {
  margin-top: 50px;
  text-align: center;
  padding-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #000;
  color: red;
  cursor: pointer;
}

.buutton {
  margin-top: 50px;
  text-align: center;
  padding-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #000;
  color: red;
  cursor: pointer;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wraper {
  width: 500px;
  height: 500px;
  margin: 100px auto;
}

.wraper .img {
  margin-top: 50px;
  display: none;
}

.wraper .img.active {
  display: block;
}

.wraper .img img {
  width: 500px;
  height: 500px;
  -webkit-animation-name: jri;
          animation-name: jri;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.zassannaya {
  display: none;
  font-size: 20px;
  color: red;
  text-align: center;
}

.zassannaya.active {
  display: block;
}

@-webkit-keyframes jri {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
}

@keyframes jri {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }

  100% {
    -webkit-transform: scale(-1, 1);
            transform: scale(-1, 1);
  }
}